.image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
  width: 500px;
  height: 700px;
}

linear-gradient( 
        to bottom,
        rgba(86, 86, 118, 0.75),
        rgba(86, 86, 118, 0.75)